.tehj-image-map{
     margin-top:300px;
}
.tehj-image-map > span{
     position: relative !important;
     float:left !important;
     width:50vw !important;
}
.tehj-image-map > span:first-child{
     width:70 vw !important;
}
.tehj-image-map > span:nth-child(2){
     width:30vw !important;
}
.tehj-tooltip{
     padding: 15px;
     color: #FFF;
     border-radius: 3px;
     font-family: 'Radikal', sans-serif !important;
     -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
     box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
     background-color: rgba(0,0,0,0.1);
}
.tehj-tooltip p{

}

area{
}
